 :root {
 --primary-color: #489c76;
 --secondary-color: #59c3c3;
 --accent-color: #2b175a;
 --text-dark: #333;
 --text-light: #252525;
 --primary-font: Arial, Helvetica,sans-serif;
 }

 body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    margin: 0;
 }

header {
    background-color: var(--primary-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text-light);
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px 0 0;
    line-height: 1.2em;
}

.menu-button {
    background-color: unset;
    border: 0;
    color: var(--text-light);
    font-size: 1.2em;
    padding: 0;
    line-height: 1.2em;
}

a:link,
a:visited {
    color: var(--accent-color);
}

main {
    background-color: rgb(197, 188, 188);
    text-align: center;
    padding: 5px;
}

img {
    max-width: 100%;
    border-style: solid;
    border-width: 8px;
    border-color: white;
    object-fit: cover;
    height: 250px;
    width: 250px;
    filter: drop-shadow(3px 3px 3px black);
}

figure {
    margin: 0;
    padding-bottom: 30px;
}

.hide {
	display: none;
}

footer {
    background-color: var(--primary-color);
    font-family: var(--secondary-font);
    color: var(--text-light);
    text-align: center;
    padding: 10px;
}

dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 10;
}

dialog img {
    margin: 0 auto;
    margin: 20vh auto;
    width: 90%;
    max-height: 100%;
}

.close-viewer {
    position: absolute;
    margin-top: 20vh;
}

@media screen and (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    nav {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }
    button {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        text-align: center;
    }
}

