header {
    text-align: center;
    font-size: 4em;
    padding-top: 20px;
    padding-bottom: 40px;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}



p {
    text-align: center;
    font-size: 2.5em;
}

.prove {
    text-align: center;
    font-size: 2em;
    line-height: 2.5em;
}

.ponder {
    text-align: center;
    font-size: 2em;
    line-height: 2.5em;
}

.examples {
text-align: center;
font-size: 2em;
line-height: 2.5em;
}

.main {
    background-color: #dbbb5b;
    border-radius: 5px;
}

.sub {
    background-color: #ee9191;
    border-radius: 3px;
}

.eg {
    background-color: #74bcd6;
    border-radius: 5px;
}

a:hover {
    color: white;
}
