.dark .mission-page {
    background-color: #333;
    color: white;
}

.mission-page {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    max-width: 600px;
    border-style: groove;
    border-width: 2px;
    border-color: rgba(185, 184, 184, 0.712);
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 40px;
    padding-top: 50px;
    line-height: 1.5;
    margin: auto;
}


h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2{
    color: #006EB6;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
    border-bottom-style: solid;
    border-bottom-color: rgba(215, 213, 213, 0.712);
    border-width: 1px;
    
}

.dark h2{
    color: #A0D4ED;
}

main{
    padding-top: 15px;
}

.list{
    line-height: 1.5;
}

.list li{
    padding-bottom: 20px;
}

li:nth-child(0) {
    padding-top: 40px;
}

.logo{
    width: 150px;
    display: block;
    margin: 20px auto;
    padding-top: 20px;
}

.dark .logo{
    width: 150px;
    display: block;
    margin: 20px auto;
    padding-top: 20px;
}