/*Gold color: #EFC69B
Red color: #AF1B3F
Dark color: #473144
Body font: Helvetica, Arial, sans-serif
/* Headline font: Lora, Impact, serif (Lora can be found on Google Fonts.)*/

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #473144;
    margin: 0;
}

header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    color: #473144;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.skiptocontent a {
    position: absolute;
    top: -40px;
    justify-items: left;
    background-color: #EFC69B;
    color: #473144;
    text-decoration: none;
}

.skiptocontent a:focus {
    top: 0;
}

nav {
    color: #AF1B3F;
}

.main-nav {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: end;
    justify-items: end;
    border-top: 2px solid #EFC69B;
    border-bottom: 2px solid #EFC69B;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
}

ul a {
    text-decoration: none;
    color: #AF1B3F;
    font-size: 1.2em;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.book-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.filter {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.info p {
    color: #473144;
    font-size: 1.2em;
    padding-left: 15px;

}

.info p:nth-of-type(1) {
    font-size: 1.4em;
}

.book-title {
    color: #AF1B3F;
    font-size: 1.5em;
}